//colors
$blue:#3c4251;
$off-black:#1f2027;
$off-white:rgb(234, 237, 255);
$off-off-white:#d6defd;
$light-blue:#464b5e;
$dark-blue: #282935;
$purple: #8357c5;
//spacing 
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;  
//m-size